* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background: #111;
    padding: 20px;
    border-radius: 16px;
    width: 300px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5);
}

#display {
    width: 100%;
    padding: 20px;
    text-align: right;
    height: 60px;
    margin-bottom: 15px;
    font-size: 26px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #222;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 20px;
    background: #333;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #444;
}

.operator {
    background: orange;
    color: black;
    font-weight: bold;
}

.operator:hover {
    background: rgb(238, 102, 11);
}

.clear {
    background: red;
    color: white;
}

.clear:hover {
    background: #ff7f73;
}

.equal {
    grid-row: span 2;
    background: green;
    color: white;
}

.equal:hover {
    background: rgb(25, 198, 25);
}
